/WeekOne/BankExample1/nbproject/private/
/Week02/MyYear/build/
/Week03/StockTrader/nbproject/private/
/Week03/StockTracker/nbproject/private/
/Week04/Week4UniTask/nbproject/private/
/Week05/StockTracker/nbproject/private/